# Database Configuration
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/base1
POSTGRES_DB=base1
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

# MinIO Configuration - Remote Server
MINIO_ENDPOINT=s3.dw3tr.com
MINIO_PORT=443
MINIO_ACCESS_KEY=dw3tr
MINIO_SECRET_KEY="DevOpsRul3z!@#"
MINIO_USE_SSL=true
MINIO_BUCKET_NAME=base1
MINIO_PUBLIC_URL=https://s3.dw3tr.com

# Upload Server Configuration
PORT=3001

# Admin Configuration
ROOT_SECRET_KEY=your_secret_key

# Application URLs
WEB_URL=http://localhost:3000
ADMIN_URL=http://localhost:5480

# Application Environment
NODE_ENV=development